<template name="user_list">
    <h1 class="page-header">{{page_title}}</h1>
    <table class="user-list table table-bordered table-striped table-condensed">
        {{#each users}}
        <tr id="{{_id}}">
            <td class="user-name"><a href="/tree/id-{{tree_id}}" data-link="internal">{{capitalize name}}</a></td>
            <td class="follow"><i class="icon-eye-open"></i><a href="#" class="follow-user">Follow</a></td>
            {{#if is_admin}}<td class="delete"><i class="icon-remove"></i><a href="#" class="remove-user">Remove</a></td>{{/if}}
        </tr>
        {{/each}}
    </table>
</template>