<template name="user_register">
    <h1 class="page-header">Register</h1>
    <form id="register" class="form-horizontal" type="post">
        <div class="control-group">
            <input type="text" class="input-xlarge" id="register_name" name="name" placeholder="Login">
        </div>
        <div class="control-group">
            <input type="password" class="input-xlarge" id="register_pass" name="pass" {{#if has_error}}class="register_error"{{/if}} placeholder="Password">
        </div>
        <div class="control-group">
            <input type="password" class="input-xlarge" id="register_pass_match" name="pass" placeholder="Re-type your password">
        </div>
        <input type="submit" class="btn btn-primary" id="register_submit" class="btn" value="Register">
    </form>
</template>