/*
    =TOC

    GENERAL
    HEADER
    TITLE
    MESSAGE

    USER
        LOGIN
        REGISTER
        LIST

    TREE
        TITLE
    	FILES
        EDIT
            FILE EDIT
        RENAME
        DOCUMENT INFOS
        DRAG & DROP

    EDITOR
*/

/* =GENERAL */
body {
    padding-top: 60px;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    min-width:960px;
}

/* =HEADER */
.logged .informations i {
    padding-right: 7px;
}

.connected {
    margin-right: 68px;
}

.nav-madewith {
    padding: 0;
}

.navbar .nav-madewith a.madewith_badge {
    margin-top: 4px;
    margin-left: 25px;
    position: relative;
    padding: 0;
}

/* =TITLE */

h1.page-header {
    margin-top: 0;
}

/* =MESSAGE */
#message {
    margin-top: -23px;
}

#message .label {
    padding: 10px 10px 10px;
    font-size: 1.4em;
}

/* =USER */
/* ==LOGIN */
#login {
    float: left;
    width: 200px;
}

#login fieldset {
    text-align: center;
}

#login input[type="text"], #login input[type="password"] {
    float: left;
    width: 94.5%;
}

#login_submit {
    width: 50%;
    margin-top: 8px;
}

#login_submit:hover {
    -webkit-box-shadow: 0px 0px 15px 0px #57d8ff;
    -moz-box-shadow: 0px 0px 15px 0px #57d8ff;
    box-shadow: 0px 0px 15px 0px #57d8ff;
    background-position: 0 0;
}

.informations {
    color: white;
    padding-bottom: 2px;
}

.logged, .login {
    width: 100%;
    margin-top: 11px;
    margin-left: 20px;
}

#user-section .logged {
    margin-right: 88px;
}

.disconnect {
    display: none;
    margin-left: -10px;
    padding: 8px;
    padding-top: 8px;

    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top, #121212, #333);
    background-image: -ms-linear-gradient(top, #121212, #333);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#121212), to(#333));
    background-image: -webkit-linear-gradient(top, #121212, #333);
    background-image: -o-linear-gradient(top, #121212, #333);
    background-image: linear-gradient(top, #121212, #333);
    background-repeat: repeat-x;

    border: 1px solid gray;
    border-top: none;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.disconnect a {
    padding-left: 10px;
    color: #00C0FF;
}

.disconnect a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 10px #57d8ff;
    filter: dropshadow(color=#57d8ff, offx=1, offy=1);

 }

.logged:hover .disconnect {
    display: block;
}

.login {
    width: auto;
    display: none;
    padding: 17px;
    padding-bottom: 0;
    padding-top: 15px;

    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(top, #121212, #333);
    background-image: -ms-linear-gradient(top, #121212, #333);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#121212), to(#333));
    background-image: -webkit-linear-gradient(top, #121212, #333);
    background-image: -o-linear-gradient(top, #121212, #333);
    background-image: linear-gradient(top, #121212, #333);
    background-repeat: repeat-x;

    border: 1px solid gray;
    border-top: none;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: -85px;
}

.connect {
    color: white;
    margin-top: 11px;
    margin-left: 20px;

}

.log-me-in {
    padding: 10px 10px 15px;
}

.connect:hover .login, .login:hover {
    display: block;
}

/* ==REGISTER */

#register {
    width: 280px;
}

.register_error {
    border-color: rgba(241, 106, 94, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(241, 106, 94, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(241, 106, 94, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(241, 106, 94, 0.6);
    outline: 0;
    outline: thin dotted 9;
}

/* ==LIST */

.user-list .user-name {
	padding-left: 10px;
	padding-top: 4px;
	font-weight: bold;
	font-size: 1.2em;
}

.user-list .follow, .user-list .delete {
	width: 80px;
	padding-top: 6px;
	padding-left: 15px;
}

.follow i, .delete i {
	padding-right: 8px;
}

.delete a {
	color: #BD362F;
}

.delte a:hover {
	color: #DA4F49;
}

/* =TREE */

#tree-header {
    clear: both;
    margin-bottom: 5px;
}

.tree {
    width: 77%;
    float: left;
    padding-bottom: 20px;
}

.tree-edit {
    width: 26%;
}

.tree .nav > li:hover {
    text-decoration: none;
    background-color: #EEE;
}

.tree .nav > li.selected:hover {
	background-color: #08C;
}

.tree .nav > li.selected > a:hover {
	background-color: #08C;
}

.tree .nav > .nav-header:hover {
    background-color: transparent;
}

.tree .file-name a, .tree .dir-name a {
    display: inline-block;
}

.tree .nav-list {
    padding-right: 0;
}

.tree .nav-header {
	width: 100%;
}
.tree .tree-help {
    margin-top: 25px;
    padding-top: 18px;
}

.tree .alert .close {
    border: none;
    background: transparent;
    margin-top: -15px;
    margin-right: -11px;
}

/* ==TITLE */
h1.title-tree {
    padding-left: 28px;
    color: #444;
    width: 80%;
    display: inline-block;
	float: left;
}

/* ==FILES */
.file-name.selected, .dir-name.selected {
	background-color: #08C;
}

.file-name.selected a, .dir-name.selected a {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #08C;
}

.file-name.selected .edit li, .dir-name.selected .edit li {
	color: white;
}

/* ==EDIT */
.edit {
    padding: 0 10px 0 0;
    margin-right: 15px;
    float: right;
}

.edit li {
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    padding-top: 4px;
}

.edit li i {
    padding-right: 5px;
}

.edit .rm-file, .edit .rm-dir, .edit .add-file, .edit .add-dir, .edit .add-user, .edit .remove-user, .edit .edit-file {
    cursor: pointer;
    color: #08C;
}

.edit .rm-file:hover, .edit .rm-dir:hover, .edit .add-file:hover, .edit .add-dir:hover, .edit .add-user:hover, .edit .edit-file:hover {
    color: #005580;
}

.edit .rm-file, .edit .rm-dir, .edit .remove-user {
    color: #BD362F;
}

.edit .rm-file:hover, .edit .rm-dir:hover, .edit .remove-user:hover {
    color: #DA4F49;
}

/* ==FILE EDIT */
.action-edit .action-name {
    display: none;
}

.action-edit {
    margin-right: 0;
}

.action-edit li {
    padding-left : 0;
}

.action-edit li i {
    padding-right: 0;
}

/* ==RENAME */
.rename-field {
	border: none;
	background: #CCC;
	border-radius: 0;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	margin: 0;
	padding: 2px 15px;

	background: #ededed;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA4OGNjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  #ededed 49%, #0088cc 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(49%,#ededed), color-stop(100%,#0088cc));
	background: -webkit-linear-gradient(left,  #ededed 49%,#0088cc 100%);
	background: -o-linear-gradient(left,  #ededed 49%,#0088cc 100%);
	background: -ms-linear-gradient(left,  #ededed 49%,#0088cc 100%);
	background: linear-gradient(left,  #ededed 49%,#0088cc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#0088cc',GradientType=1 );


}

.rename-field::selection {
	background:black;;
	color:#fff;
}

.rename-field::-moz-selection {
	background:black;
	color:#fff;
}

.rename-field::-webkit-selection {
	background:black;
	color:#fff;
}

/* ==DOCUMENT INFOS */
.document-infos {
    display: none;
    width: 200px;
    float: right;
    text-align: center;
    padding-top: 9px;
}

.document-infos #informations {
    text-align: left;
    float: left;
    margin-bottom: 13px;
}

/* TODO: Mettre un separateur */
.document-infos #informations .info, .document-infos #informations .last {
	float: left;
	width: 100%;
	padding-bottom: 5px;
	margin-bottom: 8px;
}

.document-infos #informations .info {
	border-bottom: 1px solid #DDD;
}

.document-infos .nav-header {
    padding-bottom: 12px;
}

.document-infos strong {
    display: inline-block;
    width: 50%;
    float: left;
    padding-bottom: 2px;
}

.document-infos em {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: right;
    font-style: normal;
    padding-bottom: 2px;
}

/* ==DRAG & DROP */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.ondrag {
    background-color: white !important;
}

.file-dragover {
    border-top: 1px dashed #666;
}
.dir-dragover {
    border-bottom: 1px dashed #666;
}

/* =EDITOR */
#editor {
    width: 68%;
    display: none;
    float: right;
}
#editor-area {
    width: 97.5%;
    height: 250px;
    padding: 10px;
}

.editor-show {
    display: block !important;
}

.icon-globe {
	background-image:url(../img/markitup/sets/link.png);
    background-position: -1px 0px;
}

.markItUpHeader {
    width: 100.5%;
}
.markItUpHeader ul li.editor-mode-name {
    float: right;
    width: auto;
    height: auto;
}
.markItUpHeader ul li.editor-mode-name a {
    width: auto;
    height: auto;
}

.markItUpContainer .markItUpHeader ul a {
    width: 22px;
    height: auto;
    padding-top: 4px;
}

.markItUpHeader .markItUpInfos {
    padding: 3px;
    margin-left: 0;
}

.markItUpHeader .dropdown-menu {
    min-width: 100%;
}

.dropdown-menu .markItUpButton {
    width: 100%;
}

.dropdown-menu .markItUpButton a {
    padding: 3px 15px;
    color: #333;
}

.markItUpHeader ul .font-style a {
    padding-top: 3px;
    padding-left:7px;
    padding-right:5px;
}

.markItUpHeader ul .font-style i {
    padding-right: 10px;
    padding-top: 3px;
    margin-top: 1px;
}

.markItUpHeader ul .font-style a .caret {
    margin-top: 8px;
    margin-left: 3px;
}