<template name="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" data-link="internal">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#" data-link="internal">Wysiwyg</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/user/list" data-link="internal">Home</a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="nav" id="user-section {{#if is_logged}}logged{{/if}}">
                        {{#unless is_logged}}<li><a href="/user/register" data-link="internal">Register</a></li>{{/unless}}
                        {{#if is_logged}}
                        <li class="connected">
                            <div class="logged" style="position: absolute;">
                                <p class="informations">
                                    <i class="icon-user icon-white"></i>{{user_name}}
                                </p>
                                <div class="disconnect">
                                    <span><a class="logout_link" href="/" data-link="internal">Logout</a></span>
                                </div>
                            </div>
                        </li>
                        {{else}}
                        <li class="connect">
                            <span class="log-me-in">Log in</span>
                                {{> login}}
                        </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>