<template name="header">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" data-link="internal">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#" data-link="internal">Wysiwyg</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/user/list" data-link="internal">Home</a></li>
                        <li><a href="/user/login" data-link="internal">Connexion</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>