<template name="doc_infos">
    {{#with selected}}
        <li class="info">
            <strong>Owner </strong> <em>{{owner}}</em>
        </li>
        <li class="info">
            <strong>Users </strong> <em>{{users}}</em>
        </li>
        <li class="info">
            <strong>Created on </strong> <em>{{created_on}}</em>
        </li>
        <li class="info">
            <strong>Created at </strong> <em>{{created_at}}</em>
        </li>
        <li class="last">
            <strong>Last modified </strong> <em>{{last_modified}}</em>
        </li>
    {{/with}}
</template>