<template name="tree">
    <header id="tree-header">
        <h1 class="title-tree">/</h1>
        {{#if is_owner}}<button class="btn btn-danger pull-right" id="delete-all">Delete all</button>{{/if}}
    </header>
    <div class="tree well well-small">
        <ul id="root" class="nav nav nav-list">
            <li class="nav-header">DOCUMENTS</li>
            {{init}}
            {{> node}}
        </ul>
    </div>
    <div class="document-infos well">
        <ul id="informations" class="nav nav nav-list">
            <li class="nav-header">INFORMATIONS</li>
            {{> doc_infos}}
        </ul>
        <img src="/img/file.png">
    </div>
</template>